<nav>
    <div class="logo">
      <a href="/">Bake & Co.</a>
    </div>
    <div class="nav-links">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/products">Products</a>
    </div>
</nav>
  