<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> | Bake & Co.</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <!-- Include Navbar -->
    <%- include('./partials/navbar.ejs'); %>

    <h1>About Bake & Co.</h1>
    <p>At Bake & Co., we craft baked goods that bring joy to every bite.</p>

    <!-- Include Footer -->
    <%- include('./partials/footer.ejs'); %>
  </body>
</html>
