<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> | Bake & Co.</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <!-- Include Navbar -->
    <% include('./partials/navbar.ejs'); %>

    <h1>Welcome to Bake & Co.!</h1>
    <p>Your destination for freshly baked delights.</p>

    <!-- Include Footer -->
    <% include('./partials/footer.ejs'); %>
  </body>
</html>
