<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> | Bake & Co.</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <!-- Include Navbar -->
    <%- include('./partials/navbar.ejs'); %>

    <h1>Our Products</h1>
    <p>Explore our variety of delicious baked goods.</p>
    
    <!-- Include Footer -->
    <%- include('./partials/footer.ejs'); %>
  </body>
</html>
